.imgHp{
    width: 100%;
    max-height: 650px;
}
.logosEmpresas{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin-top: 2%;
}
.logosItems{
    width:260px ;
    height: 200px;
}
.titleAlies{
margin: 5px 0 0 10px;
color: blue;
}
.boxes{
    display:grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: auto;
    gap: 55px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
    
}
.boxesItems{
    border-radius: 1rem;
}
.flipCard{
    background-color: transparent;
    font-family: sans-serif;
    height: 420px;
    width: 100%;
}
.flipCardInner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
.flipCard:hover .flipCardInner {
    transform: rotateY(180deg);
}
.flipCardFront, .flipCardBack {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 1rem;
}
.flipCardFront {
    background-color: white;
    color: blue;
    padding-top: 12rem;
}
.flipCardBack {
    background-color: white;
    transform: rotateY(180deg);
}
#tituloM{
    grid-area: tituloM;
    color: blue;
    height: 30%;
}
#textoM{
    grid-area: textoM;
    width: 90%;
    margin-left: 10%;
    text-align:justify;
}

.Mision{
    display: grid;
    grid-template-areas: 
    "tituloM tituloM "
    "textoM imgM";
    align-items: center;
    justify-content: center;
}


/********* Mobile *********/

@media only screen and (max-width:480px){
    .logosEmpresas{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        margin: 2% 0 0 5%;
    }
    .logosItems{
        width:160px ;
        height: 100px;
    }
    .boxes{
        display:flex;
        flex-flow: column nowrap;
        gap: 55px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
    }
    #imgM{
        grid-area: imgM;
        width: 150px;
        height: 150px;
        align-items: center;
    }
    .contactoHP{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        gap: 50px;
    }
    .mapaHP{
        width: 90%;
        height: 300px;
    }
}

/********** Tablet *********/


@media only screen and (min-width:481px) and (max-width:978px){
    .logosItems{
        width:190px ;
        height: 140px;
    }
    .boxes{
        display:flex;
        flex-flow: column nowrap;
        gap: 10px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 30px;
    }
    #imgM{
        grid-area: imgM;
        width: 300px;
        height: 300px;
        align-items: center;
        padding-right: 20%;
    }
    #textoM{
        grid-area: textoM;
        width: 70%;
        margin-left: 10%;
        text-align:justify;
    }
    .mapaHP{
        width: 90%;
        height: 400px;
        margin-left: 5%;
    }
}

/********* Desktop *********/

@media only screen and (min-width:979px){
#imgM{
    grid-area: imgM;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    margin-right: 10px;
}
.contactoHP{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly ;
    align-items: center;
    margin-right: 30px;
    gap: 50px;
}
.mapaHP{
    width: 700px;
    height:550px;
    margin-right: 4%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.22);
}
.formHp{
    width: 500px;
    height: 550px;
}
}