.tituloQS{
    color: white;
    text-align: center;
    padding-top: 55px;
    height: 200px;
    background:linear-gradient(120deg, rgb(145, 184, 255) 30%, #032c86 88%); 
}

.boxQS{/* imagenes de los slogans */ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.imgBoxes{/* imagenes de los slogans */ 
    width: 200px;
    height: 200px;
}
.sloganQS{
    text-align: center;
    margin: 20px;
    color: blue;
    font-family: 'Dancing Script', cursive;
}
.textoQS{
    text-align: justify;
    margin: 30px 20% 30px 20%;
}

.mvQS{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    background-color: white;
}

/********* Mobile *********/

@media only screen and (max-width:480px){
    .boxesQS{
        display: flex;
        flex-flow: column;
        gap: 25px;
        padding: 10px;
    }
}

/********** Tablet *********/


@media only screen and (min-width:481px) and (max-width:978px){
    .boxesQS{
        display: flex;
        flex-flow: column;
        gap: 25px;
        padding: 5%;
    }
}

/********* Desktop *********/

@media only screen and (min-width:979px){

.boxesQS{
    display: flex;
    flex-flow:row nowrap ;
    justify-content: space-evenly;
    gap: 10px;
}

}