.CajaServicios{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.listaImagenes{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    row-gap: 5PX;
    column-gap: 5PX;
}
.ListaServicios{
    margin: 0 5% 0 5%;
    list-style: none;
}
.itemListaServicio{
    margin: 45px 0 45px 0;
    height: 20px;
}
.flexItemList{
    display: flex;
    flex-flow: row nowrap;
}
.itemListTitle{
    color: blue;
}
.itemListText{
    padding-top:10px;
}
