.CajaServicios{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.listaImagenes{
    display: grid;
    grid-template-columns:1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    row-gap: 5PX;
    column-gap: 5PX;
}
.ListaServicios{
    margin: 0 5% 0 5%;
    list-style: none;
}
.itemListaServicio{
    margin: 45px 0 45px 0;
    height: 20px;
}
.flexItemList{
    display: flex;
    flex-flow: row nowrap;
}
.itemListTitle{
    color: blue;
}
.itemListText{
    padding-top:10px;
}
/********* Mobile *********/

@media only screen and (max-width:480px){
    .CajaServicios{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .imgFilosofia{
        width: 150px;
        height: 150px;
        border-radius: 30px;
        border: solid gray 2px;
    }
}



/********** Tablet *********/


@media only screen and (min-width:481px) and (max-width:978px){
    .CajaServicios{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .imgFilosofia{
        width: 200px;
        height: 200px;
        border-radius: 30px;
        border: solid gray 2px
    }
}

/********* Desktop *********/
@media only screen and (min-width:979px){
    .CajaServicios{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .imgFilosofia{
        border-radius: 30px;
        border: solid gray 2px;
    }
}