*{
    margin: 0;
}
a{
  font-weight: 600;
}

#concatVarHeader{
    background:blue ;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 0;
}
.header{
  width:100%;
  background-color: white;
}
.itemsVH{
    color: white;
    text-decoration: none;
}
.menu{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  color: white;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 100px;
  gap: 20px;
}
.itemList {
    list-style: none;
    line-height: 4;
    color: #fff;
    position: relative;
}
.itemList:before{
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: blue;
  transition: all .3s;
  }
.itemList:hover::before{
  width: 100%;
}
.tres:before {
  left: 50%;
}
.tres:hover:before {
  left:0;
}
.itemListLink {
    list-style: none;
    color: blue;
    text-decoration: none;
}
.dropdownItems{
  width: 100%;
}
/* dropdown */
.dropbtn {
    background-color:white;
    color: blue;
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color:blue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  box-shadow: inset;
}

.imgSvg{
    margin-top: 22px;
}
.imgLogoMenu{
    height: 70px;
}



/********* Mobile *********/

@media only screen and (max-width:480px){
  #concatVarHeader{
    background:blue ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style-type: none;
    margin-bottom: 0;
}

}

/********** Desktop **********/

@media only screen and (min-width:979px){
  .navbarR{
    display: none;
  }
}